.register-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    .register-form {
        border-radius: 8px;
        width: 40%;
        padding: 35px;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0 2px 12px 12px rgb(0 0 0 / 10%);

        .btn-register {
            width: 30%;
            height: 40px;
            text-align: center;
            background-color: #ea4c89;
            border-color: #ea4c89;
            border-radius: 10px;
            &:hover {
                background-color: #fff;
                color: #ea4c89;
            }
        }
    }
}
