.home-container {
    background-color: #fff;
    margin: 20px;
    .home-left-sidebar {
        background-color: #ffffff;
        box-shadow: 0 2px 12px 12px rgb(0 0 0 / 5%);
        margin-right: 10px;
        .ant-rate-text {
            margin-left: 5px;
        }
    }
    .home-right-content {
        box-shadow: 0 2px 12px 12px rgb(0 0 0 / 5%);
        background-color: #ffffff;
        .home-tab {
            padding-top: 20px;
            .ant-tabs-tab:hover {
                color: #ea4c89;
            }
            .ant-tabs-tab:active {
                color: #ea4c89 !important;
                color: white;
            }
        }
        .home-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            gap: 20px 6px;
            .card-content-title {
                line-height: 24px;
                height: 70px;
                margin: 0;
            }
            .card-content-price {
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                color: #ff9f00;
                margin-top: 8px;
            }
            .rating {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
        .home-card-empty{
            display: flex;
            justify-content: center;
        }
    }
}
.ant-card-body {
    padding: 10px !important;
}

// đổi màu active tab antd
.ant-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ea4c89 !important;
}
.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    background-color: #ea4c89;
}
