.admin-header {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 10px;
    background-color: #fff;
    box-shadow: 0 0px 1px 1px rgb(0 0 0 / 5%);
    position: sticky;
    z-index: 1;
    .leftside {
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .rightside {
        cursor: pointer;
        color: #808080;
        &:hover {
            color: #ea4c89;
        }
    }
}
